build/
bin/
obj/
*.o
*.lo
*.la
*.so
*.a
*.lib
*.dll
*.exe

.vscode/
.idea/
*.swp
*.bak
*.swo
*.user
*.suo
*.sln.docstates

.git/
.gitignore

docs/
test/
tests/
*.md
*.txt

Dockerfile
docker-compose.yml
.pre-commit-config.yaml
Makefile

*.log
tmp/
temp/
