.vscode/
build*/
output/
results/
*.log
python/trossen_sdk/*.so
__pycache__/
.pytest_cache/
*.egg-info/
dist/

# webapp
webapp/frontend/node_modules/
webapp/frontend/dist/
webapp/backend/.venv/
webapp/**/*.py[cod]
webapp/**/.pytest_cache/
webapp/.env
webapp/.env.local
webapp/.env.*.local
